[submodule "static"]
	path = static
	url = https://steam.codebasehq.com/amsterdam_rb/static.git
[submodule "api"]
	path = api
	url = https://github.com/steamnl/docker_workflow_api.git
[submodule "cms"]
	path = cms
	url = https://steam.codebasehq.com/amsterdam_rb/cms.git
